{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Dashboard</h2>
    <div class="my-4">
        <a href="{% url 'add_listing' %}" class="btn btn-success">Add Listing</a>

    </div>
    <hr>
    {% if user_cars %}
    <h3>My Listings</h3>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Edit Images</th> <!-- Added column for editing images -->
                    <th scope="col">Delete</th>
                    <th scope="col">Car Status</th>
                </tr>
            </thead>
            <tbody>
                {% for car in user_cars %}
                <tr>
                    <td><a href="{% url 'car_detail' car.id %}" class="btn btn-primary">{{ car.make.name }} {{ car.model.name }} ({{ car.year }})</a></td>
                    <td>${{ car.price }}</td>
                    <td><a href="{% url 'edit_listing' car.id %}" class="btn btn-primary">Edit</a></td>

                    <td><a href="{% url 'add_car_image' car.id %}" class="btn btn-info">Upload Image</a></td>
                    <td><a href="{% url 'manage_car_images' car.id %}" class="btn btn-info">Delete Image</a></td><!-- Edit Images button -->
                    <td><a href="{% url 'delete_listing' car.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this listing?');">Delete</a></td>
                    <td><span class="badge bg-success">{{car.status}}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>You have not listed any cars.</p>
    {% endif %}
    <hr>
    <h3>Wishlist</h3>
    {% if user.wishlist_set.all %}
    <div class="list-group">
        {% for item in user.wishlist_set.all %}
        <a href="{% url 'car_detail' item.car.id %}" class="list-group-item list-group-item-action">
            {{ item.car.make.name }} {{ item.car.model.name }} - {{ item.car.year }}
        </a>
        {% endfor %}
    </div>
    {% else %}
    <p>Your wishlist is empty.</p>
    {% endif %}
</div>
{% endblock %}
